
<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block stylesheets %}

        <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet">

    {% endblock %}

    <title>{% block title %}Welcome to News Site{% endblock %}</title>

</head>

    <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

        <a class="navbar-brand" href="{{ path('home') }}" >News Site</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">

                {#todo: make menu#}

                <li class="nav-item dropdown">

                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown Submenu link
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu</a>

                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Submenu action</a></li>
                                        <li><a class="dropdown-item" href="#">Another submenu action</a></li>

                                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                                                        href="#">Subsubmenu</a>

                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                                <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                            </ul>

                                        </li>

                                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                                <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                            </ul>

                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>


                </li>

            </ul>
                                    {#todo: make search with js#}

            <form class="form-inline my-0 my-md-0 my-lg-0">
                <input class="form-control my-md-0 mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <main role="main" class="container">


    {% block body %}



    {% endblock %}


    {% block pagination %}

        <nav aria-label="Page navigation example">
            <ul class="pagination">

                <li class="page-item"><a class="page-link" href="{{ pages|first }}">First page</a></li>

                <div class="pagination-button">

                    <li class="page-item"><a class="page-link">...</a> </li>

                </div>

                <div class="pagination-load">

                    <table>

                       {% for pages in pages|slice(pages|first, (pages|last-2)) %}

                            {% if loop.index0 is divisibleby(3) %}

                                <tr>

                            {% endif %}

                        <td>

                         <li class="page-item"><a class="page-link" href="{{ pages }}">{{ pages }}</a> </li>

                        </td>

                       {% endfor %}

                    </table>

                </div>

                <li class="page-item"><a class="page-link" href="{{ pages|last }}">Last page</a></li>

                </li>

            </ul>

        </nav>

    {% endblock %}


    </main><!-- /.container -->

        <script src="{{ asset('bundles/app/js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/popper.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/main.js') }}"></script>
          {% block javascripts %}{% endblock %}

    </body>
</html>
